<div class="d-flex justify-content-center align-items-center bg-light px-5 py-3">
  <ul class="d-flex list-unstyled gap-3 m-0">
    <li><a routerLink="/list" routerLinkActive="active" class="text-decoration-none text-black">All</a></li>
    <li><a routerLink="/people" routerLinkActive="active" class="text-decoration-none text-black">People</a></li>
    <li><a routerLink="/movie" routerLinkActive="active" class="text-decoration-none text-black">Movie</a></li>
    <li><a routerLink="/tv" routerLinkActive="active" class="text-decoration-none text-black">TV</a></li>
  </ul>
</div>
