<div class="bg-dark">
@if(loading){
  <div class="loading-spinner text-light">
    <p>Loading...</p>
    <!-- Spinner Style -->
    <div class="spinner-border text-light"></div>
  </div>
}
@else{
  <div class="bg-dark text-white pb-5">
    <h1 class="text-center pb-4 pt-5 fw-bold text-light">Popular People</h1>
    <div class="d-flex flex-wrap justify-content-center gap-4">
      @for (item of people; track $index) {
        <div class="card text-white">
          <img src="https://image.tmdb.org/t/p/w500/{{item.profile_path}}" alt="" class="card-img-top">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text flex-grow-1 d-flex justify-content-between">
            <span>Role:</span>
            <span>
              @if(item.known_for_department==='Acting'){
                Actor
              }
              @else if(item.known_for_department=='Sound'){
                Singer
              }
              @else if(item.known_for_department=='Writing'){
                Writer
              }
              @else {
                {{ item.known_for_department }}
              }



            </span>
          </p>
          <p class="card-text text-light justify-content-between d-flex">
            <span>Popularity: </span><span> {{ item.popularity|number:'.0-1' }}</span>
          </p>
          <a class="btn btn-custom" (click)="getDetails(item.id)" routerLink="{{item.id}}">More</a>
        </div>
      }
    </div>
    @if(selectedOne){
      <div #details class="details-container">
        <div class="details-card position-relative bg-dark text-white">
          <div class="row g-2 d-flex justify-content-center mt-2 align-items-center">
            <div class="col-md-4 me-4">
              <img class="img-fluid rounded-4 w-100" [src]="'https://image.tmdb.org/t/p/w500/' + selectedOne.profile_path" alt="{{ selectedOne.name }}">
            </div>
            <div class="col-md-7">
              <h2 class="fw-bold mt-3 mb-2">{{ selectedOne.name }}</h2>
              <div class="details-card-body flex-grow-1">
                <strong>Details: </strong>
                <p class="details-card-text mt-2">Gender: {{ selectedOne.gender==1 ? "Woman" : "Man" }}</p>
                <p class="card-text flex-grow-1"><span>Role: </span>
                  <span>
                    @if(selectedOne.known_for_department==='Acting'){
                      Actor
                    }
                    @else if(selectedOne.known_for_department=='Sound'){
                      Singer
                    }
                  </span>
                </p>
                <p class="card-text text-light"><span>Popularity: </span><span> {{ selectedOne.popularity | number:'.0-1'}}</span></p>
              </div>
            </div>
          </div>
          <a routerLink="/people" class="position-absolute w-25 end-0 bottom-0 btn btn-danger m-5" (click)="closeDetails()">Close</a>
        </div>
      </div>
    }
  </div>
}
</div>

